body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.dot{
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 150px;
    width: 150px;
}

.welcome-text {
    font-size: 70px;
    color: white;
    margin-top: 0;
}

.log {
    display: flex;
    flex-direction: column;

    align-items: center;
    color: white;
}

label {
    color: white;
}

input {
    border: none;
    height: 40px;
    width: 100%;
}

.main {
    width: 200px;
    height: 40px;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.button-img {
    height: 40px;
    width: 40px;
}

button {
    background-color: white;
    border: none;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

.separator, .register-text, h4 {
    color: white;
}

@media (max-width: 1100px) {
    .dot{
        display: none;
    }
        
     .login {
        background-image: url(pexels-clive-kim-2523249-4220967.jpg);
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
}

